<%= @current_attend.inspect%>
<% if @current_attend.is_coming %>
you'll be there
<% else %>
You're missing out
<% end %>
<br>
<% @attendances.each do |a| %>
<div class="a">

<div class="a-userb"><strong>User Email</strong></div>
<% if a.user.nil? %>
<h1>no user</h1>
<% else %>
<div class="a-userb"><%= a.user.email %></div>
<% end %>

<div class="a-email"><strong>Session Date</strong></div>
<% b = a.session.date_of %>
<%if b.nil? %>
	<h1>No date</h1>
	<% else %>
	<%= "#{b.strftime("%A")}, the #{b.strftime("%d")} of #{b.strftime("%B")}" %>
	<% end %>
<div class="a-is_coming"><strong><%= a.is_coming %></strong></div>

</div>
<br>
<% end %>
